<section class="about__area section-pb-120">
    <div class="container">
        <div class="row gy-5 justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="about__funFact-images3">
                  
                </div>
            </div>
            <div class="col-xl-6">
                <div class="section__title text-start mb-30 title-shape-none">
                    
                </div>
                <div class="about__content-three mt-50">
                    <p>Commodo metus auctor potenti sapien eget porttitor, elementum semper cubilia lacinia praesent dis hac dui, nisi ridiculus lobortis purus primis platea. Suscipit ultricies pellentesque hendrerit lectus habitant mattis aenean, quis justo odio blandit vitae nascetur a, vulputate aptent.</p>
                </div>
                <div class="btn-group mt-4">
                    <a routerLink="/about" class="tg-btn-4">
                        <span>Learn More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
